
<section class="box">
    <header>
        <h3>More cool stuff</h3>
    </header>
    <p>Join Alex's journey to excellence and discover how to become the best athlete you can</p>
    <ul class="divided">
        <li><a href="/mindset/">Train your brain</a></li>
        <li><a href="/workout/">Prepare your body</a></li>
        <li><a href="/thevolleyballgame/">Perfect your game</a></li>
        <li><a href="/journeylog/">Follow the experience</a></li>
        <li><a href="/interviews/">Listen to the experts</a></li>
        <li><a href="/otherposts/">Other posts</a></li>
    </ul>
    
</section>
